body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}
header{
    background-color: #f63232;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100% ;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 20px;

}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    background-color: #FEB614;
    color: white;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 40%;
}
.banner h2{
    font-size: 60px;
}
.banner h2 span{
    font-style: italic;
    font-size: 70px;
}
nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 100px;
    z-index: 2;
}
nav ul{
    white-space: nowrap;
    max-width: 1000px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 25px;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.join{
    color: #f63232;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #f63232;
    font-size: 50px;
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px auto;
    white-space: nowrap;
}
.images li{
    display:inline-block;
    width: 50%;
    margin: 10px 2%;

}
.images li img{
    max-width: 100%;
    z-index: 1;
}
section.join{
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
    color: #4b4b4b;
}
.join h2{
    font-size: 35px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 28px;
    border: 4px solid white;
}
footer{
    background: #f63232;
    color: white;
    padding: 10px;
    text-align: center;
}
/* pseudo classes*/
nav li a:hover{
    text-decoration: underline;
    background-color: pink;
    padding: 3px;
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;   
}
form input:valid{
    border: 4px solid #71d300;
}
/*nav li:first-child{
    border: 3px solid #f63232;
}*/
article p::first-line{
     font-weight: bold;
     font-size: 1.2em;
}
section.join p::first-letter{
    font-size: 1.5em;
}
p::selection{
    background-color: red;
    color: white;
}
p::after{
    content: '...';
}
/** responsive styele**/
@media screen and (max-width: 1400px){
     .banner .welcome h2{
            font-size: 50px;
     }
     nav li{
         font-size: 18px;
     }
}
@media screen and (max-width: 960px){
    .banner .welcome h2{
           font-size: 40px;
    }
}
@media screen and (max-width: 700px){
    .banner .welcome {
           position: relative;
           text-align: center;
           padding: 10px;
    }
    .banner img{
        width:100%;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size: 25px;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}
@media screen and (max-width: 560px){
    nav li{
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    header{
        position: relative;
    }
    nav{
        top: 0%;
    }
}
